.admin-responsive-container {
  width: 100%;
}

.admin-panel-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
}

.admin-responsive-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  padding: 1rem;
  max-height: 90vh;
  overflow: auto;
  margin-left: 1rem;
  border-radius: 0.2rem;
  background-color: rgb(245, 245, 245);
}

.photo-wrapper {
  max-width: 9.5rem;
  min-height: 9.5rem;
  border-radius: 0.2rem;
  background-color: rgb(239, 239, 239);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
  gap: 1rem;
}

.photo-wrapper img {
  object-fit: cover;
  max-width: 90%;
  vertical-align: middle;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.photo-wrapper button {
  width: 100%;
  border: none;
  border: 1px solid rgb(165, 165, 165);
  cursor: pointer;
  font-weight: bold;
  padding: 0.4rem 0;
  margin-top: auto;
  
}

.photo-wrapper button:hover {
  color: red;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 1rem;
}

.file {
  border: 1px solid rgb(0, 191, 111) !important;
}

.file-error {
  border: 1px solid rgb(191, 80, 0) !important;
}

.file svg path {
  fill: rgb(0, 191, 111) !important;
}

.file-error svg path {
  fill: rgb(191, 80, 0) !important;
}

.css-dip3t8 {
  border-radius: 0.3rem;
}

@media (max-width: 550px) {
  .file {
    width: 2rem !important;
  }

  .SKBRq {
    min-width: 263px !important;
  }

  .file-upload {
    padding: 0.2rem 0.4rem 1rem;
  }
}
