.imagePreview {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  max-height: 20vh;
  width: 98%;
  overflow: auto;
  margin-left: 1rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(154, 154, 154);
}

.imagePreviewWrapper {
  max-width: 9.5rem;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
}

.imagePreview img {
  width: 100%;
}
