.hero-container-main {
  background-color: rgb(242, 238, 233);
}

.hero-container {
  width: 100%;
}

.hero-slide {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 6%;
  height: 90vh;
  gap: 5rem;
  
}

.background-color-slide {
  background: linear-gradient(
    180deg,
    rgba(0, 191, 111, 1) 67%,
    rgba(0, 185, 107, 1) 67%
  );
  border-radius: 0px;
}

.hero-slide__left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 100%;
}

.hero-slide__left img {
  object-fit: cover;
  width: 100%;
  max-width: 500px;
  max-height: 100%;
  vertical-align: middle;
}

.hero-slide__right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 100%;
  gap: 1rem;
}

.hero-slide__right h1 {
  color: whitesmoke;
  font-family: "BebasNeue", Helvetica, Arial, Lucida, sans-serif;
}

.hero-slide__right p {
  color: whitesmoke;
}

.hero-button {
  z-index: 10;
  width: fit-content;
  padding: 0.5rem 2rem;
  height: fit-content;
  font-size: 18px;
  border: 3px solid white;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}

.hero-button:hover {
  color: whitesmoke;
  border-color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.404);
}

@media (max-width: 960px) {
  .hero-slide {
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 6%;
    gap: 0rem;
    height: 67vh;
  }

  .hero-slide__left img {
    object-fit: cover;
    width: 100%;
    max-width: 350px;
    max-height: 100%;
    vertical-align: middle;
  }

  .hero-slide__left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .hero-slide__right {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-slide__left {
    display: none;
  }

  .hero-slide {
    height: 40vh;
  }

  .hero-slide__right {
    justify-content: center;
  }

  .hero-slide__right h1 {
    font-size: 1.2rem;
  }
}
