* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgb(242, 238, 233);
  overflow-y: hidden !important;
}

.overflow-hidden {
  overflow-y: hidden;
}

.display-none {
  display: none;
}

.divider-div-container {
  display: flex;
  background-color: rgb(242, 238, 233);
  width: 100%;
  height: 10vh;
}

.home,
.services,
.contact-us,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.padding-flag {
  padding: 0.5rem;
}

textarea {
  height: 150px;
  padding: 12px 20px;
  border: none;
  border-radius: 0.2rem;
  resize: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

textarea:focus {
  border: 1px solid rgb(0, 191, 111);
}

input {
  border: none;
  height: 3rem;
  border-radius: 0.2rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fddddd;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.page-container-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(242, 238, 233);
  padding: 2rem;
}


/* Shape bottom-to-top */

.shapedividers_com-9433 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-9433::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 134% 120px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.527" preserveAspectRatio="none"><path d="M35.278 2.463v-.125A82.946 82.946 0 000 2.345v.125a82.783 82.783 0 0135.278-.007m0 .615v-.25A83.105 83.105 0 000 2.835v.25a82.777 82.777 0 0135.278-.007m-33.252.45a82.855 82.855 0 0131.26 0h1.992v-.093A83.44 83.44 0 000 3.442v.085zm10.8 0h-8.84a84.249 84.249 0 0127.339 0h-8.839zM35.278 1.97v-.075A82.878 82.878 0 000 1.902v.075a82.771 82.771 0 0135.278-.007" fill="%23f5f5f5"/></svg>');
}

@media (min-width: 2100px) {
  .shapedividers_com-9433::before {
    background-size: 134% calc(2vw + 120px);
  }
}

@media (max-width: 960px) {
  .shapedividers_com-9433::before {
    display: none;
  }
}


/* Scroll bar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 191, 111);
  background-image: rgb(0, 191, 111);
}

.splide__arrow--prev svg,
.splide__arrow--next svg {
  fill: whitesmoke !important;
}

.splide__pagination__page {
  border: 5px solid rgb(255, 255, 255) !important;
}

.splide__pagination__page.is-active {
  border: 5px solid rgb(0, 191, 111) !important;
}

.splide__pagination {
  position: absolute !important;
  top: 110% !important;
}

.splide {
  padding: 0 !important;
}

/* Media */

@media (max-width: 960px) {
  .page-container-main {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .page-container-main {
    padding: 0;
  }
}
