.what-we-do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: rgb(242, 238, 233);
  padding: 7rem 0;
}

.what-we-do-container h1 {
  width: 100%;
  z-index: 5;
}

.what-we-do-container h1::after {
  content: "";
  border-bottom: 3px solid rgb(0, 191, 111);
  width: 40%;
  margin-inline: auto;
  display: block;
  padding-top: 2rem;
}

.what-we-do-swiper {
  width: 15rem;
  height: 6rem;
  padding: 2rem;
}

.what-we-do-slides {
  text-align: center;
  width: 100%;
}

.what-we-do-gallery {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-gallery-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  z-index: 5;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  height: 12rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  width: 13rem;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.name-div {
  padding: 0.4rem 0.5rem;
  color: rgb(242, 238, 233);
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.506);
  width: 100%;
  bottom: 0;
}

a {
  text-decoration: none;
}
