.what-we-do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 7rem 0;
}

.what-we-do-container h1 {
  width: 100%;
  z-index: 5;
}

.what-we-do-container h1::after {
  content: "";
  border-bottom: 3px solid rgb(0, 191, 111);
  width: 40%;
  margin-inline: auto;
  display: block;
  padding-top: 2rem;
}

.what-we-do-swiper {
  width: 15rem;
  height: 6rem;
  padding: 2rem;
}

.what-we-do-slides {
  text-align: center;
  width: 100%;
}

.what-we-do-gallery {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-gallery-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  z-index: 5;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  height: 12rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.shapedividers_com-9678 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-9678::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 138% 400px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.527" preserveAspectRatio="none"><path d="M0 1.064v.125a82.946 82.946 0 0035.278-.007v-.125A82.783 82.783 0 010 1.064M0 .45V.7A83.105 83.105 0 0035.278.693v-.25A82.777 82.777 0 010 .45M33.252 0a82.855 82.855 0 01-31.26 0H0v.092A83.44 83.44 0 0035.278.085V0zm-10.8 0h8.84A84.249 84.249 0 013.952 0h8.839zM0 1.557v.075a82.878 82.878 0 0035.278-.007V1.55A82.771 82.771 0 010 1.557" fill="%23f2eee9"/></svg>');
}

@media (min-width: 2100px) {
  .shapedividers_com-9678::before {
    background-size: 138% calc(2vw + 400px);
  }
}
