.custom-shape-divider {
  background-color: rgb(245, 245, 245);
  min-height: 25vh;
  padding: 2rem 0;
  display: flex;
}


@media (max-width: 960px) {
  .custom-shape-divider {
    padding: 0;
    min-height: 0;
    height: 13vh;
    background-color:  rgb(242, 238, 233);
  }
}

@media (max-width: 450px) {
  .custom-shape-divider {
    height: 10vh;
  }
}

