.custom-shape-divider {
  background-color: rgb(242, 238, 233);
  height: 25vh;
}

.custom-shape {
  background-color: rgb(0, 191, 111);
  height: 5vh;
}

.shapedividers_com-6830 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-6830::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 109px;
  background-position: 50% 0%;
  transform: rotateY(180deg);
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%2300bf6f"><path d="M381 8.47L0 42.33V0h381z"/><path d="M381 33.87L0 59.27V0h381z" opacity=".33"/><path d="M381 59.27L0 77.25V0h381z" opacity=".33"/></g></svg>');
}

@media (min-width: 2100px) {
  .shapedividers_com-6830::before {
    background-size: 100% calc(2vw + 109px);
  }
}

@media (max-width: 600px) {
  .custom-shape {
    height: 2vh;
  }
}
