.button-container {
  width: 20rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 2rem 0;
  width: fit-content;
}

.button-container span {
  padding: 0.2rem;
}

.button-container h5 {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: normal;
}

.button-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  font-weight: bolder;
  color: whitesmoke;
  text-transform: uppercase;
}


.span-divider {
  color: whitesmoke;
  margin: 0 0.7rem;
}

.button-container button:hover {
  color: rgb(0, 191, 111);
}

.button-container button:hover {
  background-color: rgb(245, 245, 245);
  transition: all 0.4s ease-in-out;
}

.page-name {
  width: fit-content;
  padding: 0 0 0 0.7rem;
}

.page-name h1 {
  color: whitesmoke;
}


